@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: pokemon;
  src: url(fonts/Pokemon\ Solid.ttf) format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #43c6ac,
    #009cab,
    #0071a0,
    #004483,
    #191654
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: poppins, sans-serif;
}

.titulo {
  font-family: pokemon;
  font-size: 50px;
  color: white;
  margin: auto;
  text-align: center;
  letter-spacing: 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  place-content: center;
}

#containerTime2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0px;
  place-content: center;
}

.enviarTime{
  width: 500px;
  position: fixed;
  bottom: 50px;
  z-index: 2;
  background: linear-gradient(    to left,
  #43c6ac,
  #009cab,
  #0071a0,
  #004483,
  #191654);
  height: 30px;
  border-radius: 10px;
  border: 0;
  font-family: poppins, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 2px;
  place-content: center;
}

.enviarTime:hover{
  scale: 1.4;
}

.cardPokemon {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
  max-width: 270px;
  width: 170px;
  transition: 1s;
  overflow: hidden;
  z-index: 1;
}
.cardPokemon1 {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
  max-width: 270px;
  width: 170px;
  transition: 1s;
  overflow: hidden;
  z-index: 1;
}

.botaoTime {
  position: absolute;
  display: grid;
  float: right;
  margin-left: 130px;
  margin-top: -57px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  visibility: hidden;
  height: 0px;
  text-align: center;
  width: 0px;
  letter-spacing: 1px;
  text-shadow: 0;
  align-items: center;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid white;
}

.cardPokemon:hover .botaoTime {
  overflow: hidden;
  position: absolute;
  display: grid;
  float: right;
  margin-left: 140px;
  overflow: hidden;
  margin-top: -75px;
  visibility: visible;
  transition: 1s;
  width: 100px;
  height: 40px;
}  


.cardPokemon:hover {
  width: 270px;
  transition: 1s;
}

.cardPokemon:hover .fotoPokemon {
  justify-content: start;
  text-align: start;
  margin-left: 10px;
  transition: 1s;
}

.cardPokemon:hover .fotoPokemon img {
  justify-content: start;
  text-align: start;
  margin-left: 10px;
  transition: 1s;
}

.fotoPokemon {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  transition: 1s;
}

.fotoPokemon img {
  max-width: 90%;
}

.conteudoPokemon {
  margin-top: 20px;
}

.identificador {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bolder;
  color: white;
  text-align: start;
}

.nomePokemon {
  margin: 15px 0 7px;
  letter-spacing: 1.2px;
}

.tipoPokemon {
  display: flex;
}

.imgIcon {
  height: 20px;
  width: 20px;
  text-align: left;
  border-radius: 15px;
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.imgIcon p {
  margin-right: 5px;
}

.cardPokemon:hover .imgIcon{
  width: 70px;
  transition: 1s;
}

.imgIcon img {
  width: 20px;
  align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  justify-content: start;
}

.cardPokemonPlanta {
  background-image: linear-gradient(0deg, #ffffff 58%, #63bb5b 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}

.cardPokemonPlanta .botaoTime{
  background: #63bb5b;
}

.cardPokemonPlanta .imgIcon  {
  background: #63bb5b;
}

.cardPokemonFogo {
  background-image: linear-gradient(0deg, #ffffff 58%, #ff9c54 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonFogo .imgIcon {
  background: #ff9c54;
}

.cardPokemonFogo .botaoTime {
  background: #ff9c54;
}

.cardPokemonEletrico {
  background-image: linear-gradient(0deg, #ffffff 58%, #f3d23b 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonEletrico .imgIcon {
  background: #f3d23b;
}

.cardPokemonEletrico .botaoTime {
  background: #f3d23b;
}

.cardPokemonAgua {
  background-image: linear-gradient(0deg, #ffffff 58%, #4d90d5 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}

.cardPokemonAgua .imgIcon {
  background: #4d90d5;
}

.cardPokemonAgua .botaoTime {
  background: #4d90d5;
}
.cardPokemonNormal {
  background-image: linear-gradient(0deg, #ffffff 58%, #9099a1 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}

.cardPokemonNormal .imgIcon {
  background: #9099a1;
}

.cardPokemonNormal .botaoTime {
  background: #9099a1;
}

.cardPokemonLutador {
  background-image: linear-gradient(0deg, #ffffff 58%, #ce4069 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonLutador .imgIcon {
  background: #ce4069;
}

.cardPokemonLutador .botaoTime {
  background: #ce4069;
}
.cardPokemonDragao {
  background-image: linear-gradient(0deg, #ffffff 58%, #096dc4 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonDragao .imgIcon {
  background: #096dc4;
}

.cardPokemonDragao .botaoTime {
  background: #096dc4;
}

.cardPokemonInseto {
  background-image: linear-gradient(0deg, #ffffff 58%, #90c12c 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonInseto .imgIcon {
  background: #90c12c;
}

.cardPokemonInseto .botaoTime {
  background: #90c12c;
}

.cardPokemonPsiquico {
  background-image: linear-gradient(0deg, #ffffff 58%, #f97176 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}

.cardPokemonPsiquico .imgIcon {
  background: #f97176;
}

.cardPokemonPsiquico .botaoTime {
  background: #f97176;
}

.cardPokemonFada {
  background-image: linear-gradient(0deg, #ffffff 58%, #ec8fe6 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonFada .imgIcon {
  background: #ec8fe6;
}

.cardPokemonFada .botaoTime {
  background: #ec8fe6;
}

.cardPokemonVeneno {
  background-image: linear-gradient(0deg, #ffffff 58%, #ab6ac8 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonVeneno .imgIcon {
  background: #ab6ac8;
}

.cardPokemonVeneno .botaoTime {
  background: #ab6ac8;
}
.cardPokemonRocha {
  background-image: linear-gradient(0deg, #ffffff 58%, #c7b78b 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonRocha .imgIcon {
  background: #c7b78b;
}

.cardPokemonRocha .botaoTime {
  background: #c7b78b;
}
.cardPokemonVoador {
  background-image: linear-gradient(0deg, #ffffff 58%, #92aade 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonVoador .imgIcon {
  background: #92aade;
}

.cardPokemonVoador .botaoTime {
  background: #92aade;
}

.cardPokemonTerrestre {
  background-image: linear-gradient(0deg, #ffffff 58%, #d97746 20%);
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
}
.cardPokemonTerrestre .imgIcon {
  background: #d97746;
}

.cardPokemonTerrestre .botaoTime {
  background: #d97746;
}

